# Prerequisites
*.d
.idea
.settings
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

#out
.out

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
samples/Alia1/results/Wireless02-\#0.vec
samples/Alia1/results/Wireless01-\#0.vci
samples/Alia1/results/Wireless01-\#0.vec
samples/Alia1/results/Wireless02-\#0.vci
/.settings/
samples/sim5/eventLog.csv
